{{ snippet:header }}

<ul>The Original Goal of this Resourcepack is to enable Default Connected Textures inspired by the default textures optifine has onto <a href="https://www.curseforge.com/minecraft/mc-mods/fusion-connected-textures">Fusion</a>.<br>
With this & Fusion you can run default connected textures without continuity or optifine<br>.
This pack could be implied to be connected textures with "Fabulous Graphics" since Panes and Grates connect near perfectly</ul>

<div style="text-align: center; font-family: Arial"><h2>Features?</h2></div>
<ul>
<li>Fancy Glass Panes CT</li>
<li>Glass Block CT</li>
<li>Red/Normal Sandstone CT</li>
<li>Chiseled/Normal Bookshelf CT</li>
<li>Copper Blocks and Grates CT (with their variants too)</li>
<li>"CT" Stands for Connected Textures</li>
</ul>

<div style="text-align: center; font-family: Arial"><h2>FAQ</h2></div>
<ul>
<li><a href="https://www.curseforge.com/minecraft/texture-packs/mt-ct-a">Addons?</a></li>
<li>No connected textures? -> look at the top of the modpage!</li>
<li>"made for an older version of Minecraft" -> just load the pack as normal and it should run fine unless mojang has made significant changes to their resourcepack format</li>
<li>Make sure you have the correct version for your version and correct version of Fusion</li>
<li>Breaks with sodium pre 0.6.0 without indium, this is mostly because sodium (not embeddium) changes the fabric rendering system so indium fixes that</li>
</ul>

<div style="text-align: center; font-family: Arial"><h2>Why only Fusion?</h2></div>
<ul>
<li> Fusion offers many features which are required for custom connected textures, observe block surroundings, implementing specific culling, etc</li>
<li> CTM and Athena Compat did exist at the start but are Depricated; optifine/continuity do not support enough features</li>
</ul>

{{ snippet:footer }}

